img.insta {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
}
    img.in{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
    }
    img.git{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
    }
    img.eu{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin-right: 8px;
        vertical-align: middle;
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.514);
    }